.dashboard-layout {
  display: flex;
  min-height: 100vh;
}

.dashboard-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  flex-grow: 1;
  padding: 2rem;
  background-color: #f4f7fa;
}